html {
  font-size: 10px;
}

section {
  padding: 10rem 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  padding: 3rem;
}

.header {
  height: 7rem;
}

.button {
  background-color: #f8af01;
  color: white;
  padding: 1rem 3rem;
  text-transform: uppercase;
  border: none;
  border-radius: 7px;
}

.button-wrap {
  display: table;
  height: 7rem;
  width: 100%;
}

.button-wrap-form {
  display: table-cell;
  vertical-align: middle;
}

.phone-link {
  display: inline-block;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 7rem;
  color: #1a1820;
}
